header {
    /* position: fixed; */
    /* top: 0;
    left: 0;
    height: 10vh;
    width: 100%; */
    background: var(--color-1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}